<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="{CONTENT_DIRECTION}" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-EU" lang="en-EU">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHAR_SET}" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>myBloggie 2.1.3 - by myWebland {ADMIN_TITLE}</title>
<link rel="stylesheet" title="{STYLE}" href="templates/{STYLE}/{STYLE}.css" type="text/css" />
</head>
<body>
<center>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><img src="templates/{STYLE}/images/dawnlight_01.gif" width="270" height="99" alt=""></td>
        <td background="templates/{STYLE}/images/dawnlight_02.gif" width="100%" height="99" valign="bottom" align="right">
        {OWNER}&nbsp;&nbsp;&nbsp;
        </td>
        <td><img src="templates/{STYLE}/images/dawnlight_03.gif" width="10" height="99" alt=""></td>
    </tr>
    <tr>
        <td background="templates/{STYLE}/images/dawnlight_04.gif" width="270" height="21">
        <span class="f10pxwhite">&nbsp;&nbsp;{TIME}</span></td>
        <td background="templates/{STYLE}/images/dawnlight_04.gif" width="500" height="21" align="right">
            <span class="f10pxwhite"> | <a class="menu" href="./index.php">Home
            </a> | <a class="menu" href="{BLOGGIE_PATH}login.php">Login
            </a> | <a class="menu" href="http://www.mywebland.com">myWebland
            </a>&nbsp;
            </span></td>
        <td background="templates/{STYLE}/images/dawnlight_05.gif" width="10" height="21" >
        </td>
    </tr>
  <tr>
  <td colspan="2">
  <!--blog body starts here -->
    <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="{BGCOLOR}">
      <tr><td colspan="3">{ADMIN_MENU}</td></tr>
      <tr><td colspan="3" class="spacer3"></td></tr>
      <tr><td class="sidemenu">