<table border="0" cellpadding="1" cellspacing="0">
  <!-- BEGIN logoff -->
  <tr>
    <td class="bullet"></td><td colspan="2" class="menuitem" width="120" height="20"><b>{logoff.L_LOGOFF}</b></td>
  </tr>
  <!-- END logoff -->
  <tr>
    <td class="adminheader" colspan="3" height="22" align="center">{MENU_HEADER1}</td>
  </tr>
  <tr>
    <td class="bullet"></td><td colspan="2" class="menuitem" width="120" height="20"><b>{MENU_HOME}</b></td>
  </tr>

  <tr>
    <td width="20" class="bullet"></td>
    <td colspan="2" class="menuitem" width="120" height="20">{MENU_ITEMA1}</td>
  </tr>
  <tr>
    <td width="20" class="bullet"></td>
    <td colspan="2" class="menuitem" width="120" height="20">{MENU_ITEMA2}</td>
  </tr>
  <tr>
    <td width="20" class="bullet"></td>
    <td colspan="2" class="menuitem" width="120" height="20">{MENU_ITEMA3}</td>
  </tr>
  <tr>
    <td class="adminheader" colspan="3" height="22" align="center">{MENU_HEADER2}</td>
  </tr>
  <tr>
    <td width="20" class="bullet"></td>
    <td colspan="2" class="menuitem" width="120" height="20">{MENU_ITEMB1}</td>
  </tr>
  <tr>
    <td width="20" class="bullet"></td>
    <td colspan="2" class="menuitem" width="120" height="20">{MENU_ITEMB2}</td>
  </tr>
  <tr>
    <td width="20" class="bullet"></td>
    <td colspan="2" class="menuitem" width="120" height="20">{MENU_ITEMB3}</td>
  </tr>
  <tr>
    <td class="adminheader" colspan="3" height="22" align="center">{MENU_HEADER3}</td>
  </tr>
  <tr>
    <td width="20" class="bullet"></td>
    <td colspan="2" class="menuitem" width="120" height="20">{MENU_ITEMC1}</td>
  </tr>
</table>