<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
       <table border="0" cellpadding="0" cellspacing="0">
         <tr>
           <td width="320" height="20" ></td>
        </tr>
         <tr>
           <td valign="middle" align="center" background="{ADMINIMAGE}" width="320" height="300" ></td>
        </tr>
         <tr>
           <td width="320" height="20" ></td>
        </tr>
       </table>
      </td>
    </tr>
    <tr>
        <td align="center">
           <fieldset style="border:solid #c0c0c0 1px; margin:0 100px 0 100px; padding:10px 20px 10px 20px">
             <legend>Version Update</legend>
             {VERSION_INFO}
           </fieldset>
        </td>
    </tr>
</table>