  <center>
  <table width="100%" class="tableborder" cellspacing="2" cellpadding="0"  border="0">
   <tr>
     <td class="tdhead"><center>{L_UPLOAD}</center></td></tr>
<tr>
     <td>
  <table width="90%" border="0" cellpadding="1" cellspacing="2">
     <tr><td class="spacer3" colspan="2"></td></tr>
     <tr><td colspan="2">{MESSAGE}</td></tr>
     <tr>
     <td ><span class="upload"><b>{L_FILE}</b></span></td>
     <td ><span class="upload"><b>{L_ACTION}</b></span></td>
     <!--td><span class="upload">{L_SUBJECT}</span></td-->
     </tr>
    <!-- BEGIN listing -->
     <tr>
     <td ><span class="upload">{listing.FILE}</span></td>
     <td ><span class="upload">{listing.DELETE}</span></td>
     <!--td><span class="upload">{listing.SUBJECT}</span></td-->
     </tr>
    <!-- END listing -->
    <tr><td class="spacer6" colspan="2"></td></tr>
    <tr><td colspan="2" align="right"><span class="f10pxgrey">{UPLOAD_MESSAGE}</span></td></tr>
    </td></tr>
  </table>
  </table>
</center>