body {
      padding-right : 5px; 
      padding-left : 5px; 
      padding-bottom : 10px;
      margin : 0; 
      background-color : #ffffff; 
      padding-top : 10px; 
      }

img {
  border: 0;
}

input,textarea,select {
  font-size: 11px;
  font-family: Verdana;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  background: #f0f0f0;
  border-width: 1px;
  margin: 2px;
}
.codequotetitle {
    font-family: verdana, sans-serif; font-size: 12px; color: #000080;
    padding-top : 5px;
    padding-right : 5px;
    padding-bottom : 5px;
    padding-left : 5px;
    width: 100%; text-align : left;
}
.code {
    font-family: Courier, 'Courier New', sans-serif; font-size: 12px; color: #006600;
    background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
    border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
    padding-top : 5px;
    padding-right : 5px;
    padding-bottom : 5px;
    padding-left : 5px;
    width: 95%; text-align : left;
}
.quote {
    font-family: verdana, sans-serif; font-size: 11px; color: #006600;
    background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
    border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
    padding-top : 5px;
    padding-right : 5px;
    padding-bottom : 5px;
    padding-left : 5px;
    width: 95%;
    text-align : left;
}
.blogcontent  {
    padding-top : 3px;
    padding-right : 3px;
    padding-bottom : 3px;
    padding-left : 3px;
}
.bullet {
      background : url(images/bullet2.gif) ;
      background-repeat: no-repeat;
      background-position: center center ;
}
.smallbullet {
      background : url(images/smallbullet1.gif) ;
      background-repeat: no-repeat;
      background-position: center center ;
}
.admin {
      background : url(images/adminpanel.jpg);
      background-repeat: no-repeat;
}
.menuitem {
      font-family : Verdana, Arial, Helvetica, sans-serif;
      font-weight : normal;
      font-size : 11px;
      line-height : 20px; 
      color : #000000;
      vertical-align : middle;
      text-align : left;
} 

.verticaldot {
      background : url(images/vdottedline2.gif);
      background-repeat : repeat-y;
}
 
.horizontaldot {
      background : url(images/dottedline2.gif);
      background-repeat : repeat-x;
} 
.horizontaldot3 {
      background : url(images/dottedline2.gif);
      height : 3px;
} 
.tdheaderborder {
      background-color : #c0c0c0;
      height : 4px;
}
 
.tdsunday {
      font-family : Verdana, Arial, Helvetica, sans-serif;
      background-color : #ff0000;
      font-weight : normal;
      font-size : 11px; 
      line-height : 20px; 
      color : #ffffff; 
      vertical-align : middle;
      text-align : center; 
} 
.tdday {
      font-family : Verdana, Arial, Helvetica, sans-serif;
      background-color : #84B2FF;
      font-weight : normal;
      font-size : 11px; 
      line-height : 20px; 
      color : #ffffff; 
      vertical-align : middle; 
      text-align : center; 
} 
.tdtoday {
      font-family : Verdana, Arial, Helvetica, sans-serif;
      background-color : #f0f0f0; 
      font-weight : bold;
      font-size : 11px; 
      line-height : 20px; 
      color : #000000; 
      vertical-align : middle; 
      text-align : center; 
} 
.tdheading {
      font-family : Verdana, Arial, Helvetica, sans-serif;
      font-weight : bold; 
      font-size : 10px; 
      line-height : 20px; 
      color : #606060; 
      vertical-align : middle; 
      text-align : center; 
      letter-spacing : 0.09em;
} 
.tddate {
      font-family : Verdana, Arial, Helvetica, sans-serif;
      font-weight : normal;
      font-size : 11px; 
      line-height : 16px; 
      color : #606060; 
      vertical-align : middle; 
      text-align : center; 
} 
.tableborder {
      border : medium none #aaaaff;
      border-style : solid; 
      border-top-width : 1px; 
      border-right-width : 1px; 
      border-bottom-width : 1px; 
      border-left-width : 1px; 
      margin-bottom : 0; 
      margin-top : 0; 
      margin-right : 0; 
      margin-left : 0; 
      padding-top : 0; 
      padding-right : 0; 
      padding-bottom : 0; 
      padding-left : 0; 
} 
.border {
      border : medium #5379B8;
      border-style : solid; 
      border-top-width : 1px; 
      border-right-width : 1px; 
      border-bottom-width : 1px; 
      border-left-width : 1px; 
}
.date {
      font-family : georgia, times new roman, serif, sans-serif;
      font-size : 14px;
      color : #000000;
      font-weight : bold;
      letter-spacing : 0.09em;
      text-align : left;
} 
.td10xpad {
      padding-top : 0;
      padding-right : 10px;
      padding-bottom : 0; 
      padding-left : 10px; 
} 
.subject {
      font-family : Palatino, Palatino Linotype, serif;
      font-size : 17px;
      color : #000000;
      font-weight : normal; 
      letter-spacing : 0; 
      padding-top : 0; 
      padding-right : 10px; 
      padding-bottom : 0; 
      padding-left : 10px; 
      text-align : left; 
} 
.message {
      font-family : Verdana, Arial, Helvetica, sans-serif;
      font-size : 11px;
      color : #000000;
      padding-top : 0; 
      padding-right : 10px; 
      padding-bottom : 0; 
      padding-left : 10px; 
      line-height : 1.4;
      text-align : left;
}
.messagejustify {
      font-family : Verdana, Arial, Helvetica, sans-serif;
      font-size : 12px;
      color : #000000;
      padding-top : 0; 
      padding-right : 10px; 
      padding-bottom : 0; 
      padding-left : 10px; 
      line-height : 1.6; 
      text-align:justify;
}
/*********  for trackback   **********/
.ftb {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size : 11px;
     color : #404040;
}
.ftburl {
     font-family : georgia, times new roman, serif, sans-serif;
     font-size : 12px;
     color : #ff0000;
}
.box {
      background-color: #f8f8f8;
      border : medium none #aaaaff;
      border-style : solid; 
      border-top-width : 1px; 
      border-right-width : 1px; 
      border-bottom-width : 1px; 
      border-left-width : 1px; 
      padding-top : 5;
      padding-right : 5;
      padding-bottom : 5;
      padding-left : 5;
} 
/* end for trackback   */
.f10pxgrey {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size : 10px;
     color : #404040;
}
.f10pxwhite {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size : 10px; 
     color : #ffffff;
}
.f10pxblack {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size : 10px; 
     color : #000000;
}
.count {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size : 9px;
     color : #84B2FF;
     text-align : right;
} 
.recent {
     font-family : Palatino, Palatino Linotype, georgia, times new roman, serif, sans-serif;
     font-size : 12px;
     color : #000000;
     font-weight : normal; 
     letter-spacing : 0.01em;
     text-align : left; 
}
.tdhead { font-family: Verdana, Arial, Helvetica, sans-serif;
                  font-weight: bold;
                  font-size: 12px;
                  text-align: center;
                  letter-spacing: 0.09em;
                  height: 24px;
                  color: #000000;
                  background-image: url("images/stripe3.gif");
} 
.error { font-family: Verdana, Arial, Helvetica, sans-serif;
                  font-weight: normal;
                  font-size: 12px;
                  text-align: center;
                  height: 20px;
                  color: #000000;
}
.comment { font-family: Verdana, Arial, Helvetica, sans-serif;
                  font-weight: normal;
                  font-size: 11px;
                  text-align: left;
                  height: 24px;
                  color: #000000;
                  padding-top : 0;
                  padding-right : 10px;
                  padding-bottom : 0;
                  padding-left : 10px;
}
.commentsubject { font-family: georgia, times new roman, serif, sans-serif;
                  font-weight: normal;
                  font-size: 16px;
                  text-align: left;
                  letter-spacing: 0.05em;
                  padding-left : 10px;
                  height: 24px;
                  color: #404040;
} 
.header {
     font-family : georgia, times new roman, serif, sans-serif;
     font-size : 12px;
     color : #000080;
     font-weight : bold; 
     letter-spacing : 0.09em;
     line-height : 18px;
     background : url(images/dstripe3.gif) repeat;
     text-align : left;
     padding-left : 5px;
}
.adminheader {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size : 12px;
     color : #000000;
     font-weight : bold;
     line-height : 28px;
     vertical-align : middle;
     text-align : left;
}
.ident10 {
     padding-top : 0;
     padding-right : 10px;
     padding-bottom : 0; 
     padding-left : 10px; 
} 
.formfont {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size : 8pt; 
} 

#credit {
     text-align : center;
} 
.spacer3 {
     height : 3px;
} 
.spacer6 {
     height : 6px;
} 
.spacer8 {
     height : 8px;
} 
.headercredit {
     padding-right : 10px;
     vertical-align : bottom;
     width : 100%;
} 
.sidemenu {
     width : 150px;
     vertical-align : top;
} 
a.std:link {
     color : #444444;
     text-decoration : underline;
} 
a.std:active {
     color : #000000;
     text-decoration : none;
} 
a.std:visited {
     color : #444444;
     text-decoration : underline;
} 
a.std:hover {
    color : #606060;
    text-decoration : none;
}

.copyright        { font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright        { color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;} 

.menu       { font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; letter-spacing: -1px;}
a.menu        { color: #FFFFFF; text-decoration: none;}
a.menu:hover { color: #000000; text-decoration: underline;}

.upload {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size : 11px;
     color : #000000;
     text-align : left;
}


