<table width="100%" border="0" cellpadding="1" cellspacing="2">
    <tr>
      <td class="header" colspan="2">{RECENT}</td>
    </tr>
    <!-- BEGIN recent -->
    <tr>
      <td class="smallbullet" width="14"  valign="top"></td><td class="recent"><a class="std" href="{recent.U_RECENT}">{recent.SUBJECT}</a></td>
    </tr>
    <!-- END recent -->
</table>