<table width="100%" border="0" cellpadding="1" cellspacing="2">
    <tr>
      <td class="header">{L_SEARCH}</td>
    </tr>
  <tr>
     <td>
    <form action="search.php" method="post"><center><input type="text" name="keyword" size="15"> <input type="submit" value="Go"></center></form>
    </td>
  </tr>
  <tr>
     <td height="100%"></td>
  </tr>
</table>