<table width="100%" border="0" cellpadding="1" cellspacing="2">
    <tr>
      <td class="header" colspan="3">{USER_POST}</td>
    </tr>
    <!-- BEGIN user_post -->
    <tr>
      <td class="smallbullet" width="14"  valign="top"></td><td class="recent"><a class="std" href="{user_post.U_USER}">{user_post.MTH}</a></td><td class="count" width="25%">[{user_post.POSTS}]</td>
    </tr>
    <!-- END user_post -->
</table>