<table class=caltable bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="1" width=98%>
<tr><td colspan=7>{MONTHFULLTEXT} {YEAR}</td></tr>
<tr>
<td>{SUN}</td>
<td>{MON}</td>
<td>{TUE}</td>
<td>{WED}</td>
<td>{THU}</td>
<td>{FRI}</td>
<td>{SAT}</td>
</tr>
<!-- BEGIN beginweek -->
<tr>
<!-- END beginweek -->
  <!-- BEGIN parsedate -->
  <td class="{parsedate.CLASSDATE}">{parsedate.DATE}</td>
  <!-- END parsedate -->
<!-- BEGIN endweek -->
</tr>
<!-- END endweek -->
</table>