<table width="100%" border="0" cellpadding="1" cellspacing="2">
    <tr>
      <td class="header" colspan="3">{CATEGORIES}</td>
    </tr>
    <!-- BEGIN categories -->
    <tr>
      <td class="smallbullet" width="14"  valign="top"></td><td class="recent"><a class="std" href="{categories.U_ARCHIVE}">{categories.MTH}</a></td><td class="count" width="25%">[{categories.POSTS}]</td>
    </tr>
    <!-- END categoriese -->
</table>