<!--main footer -->
           </td></tr>
      <tr><td colspan="3" class="spacer6"></td></tr>
      <tr><td colspan="3" class="horizontaldot"></td></tr>
      <tr><td colspan="3" class="spacer6"></td></tr>
      <tr><td colspan="3"><div id="credit"><span class="f10pxblack">
          <!--
          We request you to retain the full copyright notice & link below. Thank you.
          // -->
          Template theme : {STYLE}<br />
          Powered by <a class="copyright" href="http://mybloggie.mywebland.com">myBloggie</a> Copyright &copy; 2004 2006<br/>
          -- <a class="copyright" href="http://www.mywebland.com">myWebland</a> --
          <br/>
          </span></div>
          </td></tr>
       </table>
     </td>
   </tr>
</table>

  <td class="rightshadow" width="12"></td>
</tr>
<tr>
  <td class="btmleftshadow" height="12"></td>
  <td class="btmshadow" height="12"></td>
  <td class="btmrightshadow" height="12"></td>
</tr>
</table>
</body>
</html>