           <!-- BEGIN rightsidemenu -->
           </td>
           <td width="0" bgcolor="#84B2FF" valign="middle"></td>
           <td class="sidemenu">
           <!-- END rightsidemenu -->
           <!-- BEGIN leftsidemenu -->
           </td>
           <td width="0" bgcolor="#84B2FF" valign="middle"></td>
           <td valign="top">
           <!-- END leftsidemenu -->