<table width="100%" border="0" cellpadding="1" cellspacing="2">
    <tr>
      <td class="header">{SYNDICATION}</td>
    </tr>
    <tr>
      <td align="center">
      <a class="std" href="./rss/rss.php"><img src="./images/rss0.90.gif" alt="" /></a></td>
    </tr>
    <tr>
      <td align="center">
      <a class="std" href="./rss/rss2.php"><img src="./images/rss_2.0.gif" alt="" /></a></td>
    </tr>
</table>