<table width="100%" border="0" cellpadding="1" cellspacing="2">
    <tr>
      <td class="header" colspan="3">{ARCHIVE}</td>
    </tr>
    <!-- BEGIN archive -->
    <tr>
      <td class="smallbullet" width="14"  valign="top"></td><td class="recent"><a class="std" href="{archive.U_ARCHIVE}">{archive.MTH}</a></td><td class="count" width="25%">[{archive.POSTS}]</td>
    </tr>
    <!-- END archive -->
</table>